.tocNumbering {
	float: right;
	text-align: left;
	width: 7%;
	position: absolute;
}

.tocTitle {
	width: 93%;
	display: inline-block;
}

.tocFloatingDots {
	white-space: nowrap;
	overflow: hidden;
	word-spacing: 2pt;
	display: inline-block;
}