@import url(http://fonts.googleapis.com/css?family=Gentium+Basic:400,700,400italic,700italic);

body {
	color: #000;
	text-align: left;
	font: lighter 10pt/12pt "Frutiger LT Com", sans-serif;
	text-rendering: optimizeLegibility;
}

img.scaling {
	max-width: 100%;
}

.bottomSpace {
	padding-top: 1em;
}

.topSpace {
	padding-bottom: 1em;
}

pre,
code {
  font-family: 'DejaVu Sans Mono', Menlo, Consolas, monospace;
}

hr {
  border: 0 #ccc solid;
  border-top-width: 1px;
  clear: both;
  height: 0;
}

/* `Headings
----------------------------------------------------------------------------------------------------*/

h1 {
  font-size: 14pt;
  font-weight: bold;
}

h2 {
  font-size: 14pt;
  font-weight: lighter;
}

h3, h4, h5, h6 {
  font-size: 10pt;
  font-weight: bold;
}

/* `Spacing
----------------------------------------------------------------------------------------------------*/

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

li {
  margin-left: 30px;
}

/*
p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset,
figure {
  margin-bottom: 20px;
}
 */

.pagina {
	font-size: 8pt;
	line-height: 11pt;
}