img.lines-0{
    height: 0pt;
}

img.lines-1{
    height: 12pt;
}

img.lines-2{
    height: 24pt;
}

img.lines-3{
    height: 36pt;
}

img.lines-4{
    height: 48pt;
}

img.lines-5{
    height: 60pt;
}

img.lines-6{
    height: 72pt;
}

img.lines-7{
    height: 84pt;
}

img.lines-8{
    height: 96pt;
}

img.lines-9{
    height: 108pt;
}

img.lines-10{
    height: 120pt;
}

img.lines-11{
    height: 132pt;
}

img.lines-12{
    height: 144pt;
}

img.lines-13{
    height: 156pt;
}

img.lines-14{
    height: 168pt;
}

img.lines-15{
    height: 180pt;
}

img.lines-16{
    height: 192pt;
}

img.lines-17{
    height: 204pt;
}

img.lines-18{
    height: 216pt;
}

img.lines-19{
    height: 228pt;
}

img.lines-20{
    height: 240pt;
}

img.lines-21{
    height: 252pt;
}

img.lines-22{
    height: 264pt;
}

img.lines-23{
    height: 276pt;
}

img.lines-24{
    height: 288pt;
}

img.lines-25{
    height: 300pt;
}

img.lines-26{
    height: 312pt;
}

img.lines-27{
    height: 324pt;
}

img.lines-28{
    height: 336pt;
}

img.lines-29{
    height: 348pt;
}

img.lines-30{
    height: 360pt;
}

img.lines-31{
    height: 372pt;
}

img.lines-32{
    height: 384pt;
}

img.lines-33{
    height: 396pt;
}

img.lines-34{
    height: 408pt;
}

img.lines-35{
    height: 420pt;
}

img.lines-36{
    height: 432pt;
}

img.lines-37{
    height: 444pt;
}

img.lines-38{
    height: 456pt;
}

img.lines-39{
    height: 468pt;
}

img.lines-40{
    height: 480pt;
}

img.lines-41{
    height: 492pt;
}

img.lines-42{
    height: 504pt;
}

img.lines-43{
    height: 516pt;
}

img.lines-44{
    height: 528pt;
}

img.lines-45{
    height: 540pt;
}

img.lines-46{
    height: 552pt;
}

img.lines-47{
    height: 564pt;
}

img.lines-48{
    height: 576pt;
}

img.lines-49{
    height: 588pt;
}

img.lines-50{
    height: 600pt;
}

img.lines-51{
    height: 612pt;
}

img.lines-52{
    height: 624pt;
}

img.lines-53{
    height: 636pt;
}

img.lines-54{
    height: 648pt;
}

img.lines-55{
    height: 660pt;
}

img.lines-56{
    height: 672pt;
}

img.lines-57{
    height: 684pt;
}