.titlepage_logo {
	margin-left: 129.5mm;
	width: 60mm;
	margin-top: 16.5mm;
	position: absolute;
}

.titlepage_longName {
	margin-top: 23.4mm;
	letter-spacing: 1.5pt;
	text-transform: lowercase;
	font-size: 10pt;
	height: 2em;
	font-variant: small-caps;
	font-weight: bold;
}

.titlepage_main {
	font-size: 24pt;
	font-weight: bold;
	letter-spacing: 0.5pt;
	text-transform: uppercase;
	line-height: 24pt;
	margin-top: 42.33mm;
}

.titlepage_sub {
	font-size: 24pt;
	font-weight: 100;
	margin-top: 12pt;
	line-height: 24pt;
}

.titlepage_partner {
	margin-left: 120mm;
	font-weight: bold;
	text-transform: lowercase;
	font-variant: small-caps;
	border-top: 1px dotted #000;
	margin-top: 110.058mm;
}

.titlepage_partnerlogo {
	max-height: 14.8155mm;
}